/*
lavender grey: #9A9EAB
branch: #5D535E
berry: #EC96A4
yellow feathers: #DFE166
-----
fresh (blue): #4ABDAC
vermillion (orange): #FC4A1A
sunshine: #F7B733
clean: #DFDCE3

--- cappucino
#4b3832 • #854442 • #fff4e6 • #3c2f2f • #be9b7b

--- space gray
#343d46 • #4f5b66 • #65737e • #a7adba • #c0c5ce

*/

* {
    font-family: 'Raleway', sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 5px;
    padding-right: 5px;

    background-color: #c0c5ce;
}

#body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 10px;
}

.crawler-content{
    flex-basis: 24%;
    display: flex;
    flex-direction: column;
}

.crawler-header{
    flex-basis: 50px;

    background-color: #DFDCE3;

    padding-left: 5px;
    padding-right: 5px;
}

.crawler-body{
    flex-basis: 120px;

    background-color: white;
    border: 2px solid #DFDCE3;

    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer{
    flex-basis: 100px;

    background-color: #65737e;
}

.facebook-header-1, .facebook-header-0{
    padding-left: 10px;
    padding-right: 2px;
}

.facebook-header-1{
    background-color: #eee;
}

.facebook-body{
    display: flex;
    flex-direction: row;
}

.facebook-body img{
    padding-right: 10px;
}

/* Foursquare begin */

.foursquare-header-1, .foursquare-header-0{
    padding-left: 10px;
    padding-right: 2px;
}

.foursquare-header-1{
    background-color: #eee;
}

.foursquare-body{
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}

.foursquare-body img{
    padding-right: 10px;
}

/* Foursquare end */

/* Instagram begin */

.instagram-header-1, .instagram-header-0{
    padding-left: 10px;
    padding-right: 2px;
}

.instagram-header-1{
    background-color: #eee;
}

.instagram-body{
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}

.instagram-body img{
    padding-right: 10px;
}

/* Instagram end */

/*TWITTER CONTENT STYLE*/
.twitter-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 10px;
}

.twitter-content-1{
    background-color: #eee;
}

.twitter-username{
    padding-bottom: 10px;
}

.twitter-content img{
    padding-right: 10px;
}

/*END TWITTER CONTENT STYLE*/

/**START NEWSFEED STYLE*/
#newsfeed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#update_status{
    display: flex;
    flex-direction: row;
}

#see_updates{
    display: flex;
    flex-basis: 60%;
    border: 0.5px rgb(169, 169, 169) solid;
    max-height: 70px;
    overflow-y: auto;
}

#updates{
}

#update_status_btn{
    margin-left: 10px;
    height: 30px;
}

/*END NEWSFEED STYLE*/

.event-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-title *{
    padding-right: 5px;
}

.event-title i:hover{
    color: #ddd;
}


#show_map :hover {
    cursor:pointer;
    opacity: 0.3;
}
