/* Some more or less sane font defaults */
body {
    font-size: 140%;
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

h1, h2, h3, h4 {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header styling */
h1 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid rgba(0,0,0,0.22);
}

h2 {
    border-left: 0.2em solid dodgerblue;
    padding-left: 0.4em;
    padding-top: 0.2em;
    margin-left: -0.6em;
}

/* Containers, wrappers */

#container {
    width: 50em;
    margin-left: 3em;
}

/* Tiny bit of responsiveness */
@media screen and (max-width: 60rem) {
    #container_map {
        width: 80%;
    }
}

#map {
    width: 100%;
    height: 40em;
}

.map_popup {
    font-size: 20px;
}